.centering {
    text-align: center;
    margin: auto;
}

.standardColor {
    color: darkblue;
}

.errColor {
    color: #E61B43;
}

header {
    border: 1px solid;
    border-color: rgb(43, 149, 255);
    border-radius: 10px;
}

.menuBlock {
    border: 1px solid;
    border-color: rgb(43, 149, 255);
    border-radius: 10px;
    padding: 20px;
}

.menuBlock.lightMenuBlock:hover {
    border: 3px solid;
    border-color: #E61B43;
    border-radius: 10px;
    padding: 18px;
}

/*.menuBlock*/
.buttonWithoutStyle {
    border: unset;
    background-color: white;
}

.fillingAllAreaWidth {
    width: 100%;
}

.rightBorder {
    border-right: 1px solid;
    border-color: rgb(43, 149, 255);
}

.tableHead {
    border-bottom: 1px solid;
    border-color: rgb(43, 149, 255);
}
.linkBlock{
    position: absolute; /* Абсолютное позиционирование */
    left: 0; right: 0; /* По ширине ячейки */
    top: 0; bottom: 0; /* По высоте ячейки */
}
.textInputField{
    text-align: center;
}

#toMainInReply{
    font-weight: bold;
    padding: 2px;
}

#toMainInReply:hover{
    font-weight: bold;
    padding: 0px;
    border: solid #E61B43 3px;
    cursor: pointer;
}

#areaImage{
    cursor: pointer;
}